<ion-header>
  <ion-toolbar>
    <ion-title>ContatoModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      Cadastro
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label>Nome: </ion-label>
        <ion-input [(ngModel)]="novo_contato.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="novo_contato.url"></ion-input>
        <img src="{{novo_contato.url}}" alt="">
        <ion-button (click)="take_picture()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        
      </ion-item>

      <ion-item>
        <ion-label>ID: </ion-label>
        <ion-input [(ngModel)]="novo_contato.id"></ion-input>
      </ion-item>

      <ion-button expanded="full" (click)="add()">Vai</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>